<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <title>게시글 등록</title>
</head>
<body>

<!-- 메인 게시글 -->
<div class="container" style="height: 100%;">

    <div class="page-header">
        <h1>게시글 등록</h1>
    </div>
    <div class="pull-left">
        <a href="/" class="btn btn-default">목록으로</a>
    </div>
    <div class="pull-right">
        <button th:if="!${board?.idx}" type="button" class="btn btn-primary"
                id="insert">저장
        </button>
        <button th:if="${board?.idx}" type="button" class="btn btn-info"
                id="update">수정
        </button>
        <button th:if="${board?.idx}" type="button" class="btn btn-danger"
                id="delete">삭제
        </button>
    </div>
    <br/> <br/>
    <input id="board_idx" type="hidden" th:value="${board?.idx}"/>
    <input id="user_idx" type="hidden" th:value="${user?.idx}"/>
    <table class="table table-bordered">
        <tr>
            <th class="col-md-1">조회수</th>
            <td class="col-md-1" th:text="${board?.views}"></td>
            <th class="col-md-2">작성일</th>
            <td class="col-md-3"
                th:text="${board?.date} ? ${#temporals.format(board.date,'yyyy년 MM월 dd일 hh시 mm분')} : ''"></td>
            <th class="col-md-2">작성자</th>
            <td class="col-md-3" th:text="${board?.user?.nickName}"></td>
        </tr>
        <tr>
            <th style="padding: 13px 0 0 15px;">제목</th>
            <td colspan="5"><input id="board_title" type="text"
                                   class="col-md-1 form-control input-sm" th:value="${board?.title}"/></td>
        </tr>
        <tr>
            <th style="padding: 13px 0 0 15px;">내용</th>
            <td colspan="5"><textarea id="board_content"
                                      class="col-md-1 form-control input-sm" rows="7"
                                      style="height: 300px;" th:text="${board?.content}"></textarea><span
                    class="h-100 d-inline-block"></span></td>
        </tr>

    </table>

</div>

<!-- 댓글 기능 -->

<div class="container" th:if="${board?.idx}">
    <label for="board_content">comment</label>
    <span th:text="|댓글 ${#lists.size(commentList)} 개|"></span>

    <div class="form-group">
        <!-- th:if="${board.user?.name}" -->
        <!--  <input type="hidden" name="bno" value="${detail.bno}"/> -->
        <textarea class="form-control" id="commentTextBox" placeholder="내용을 입력하세요."
                  onKeypress="javascript:if(event.keyCode==13) { $('#commentInsertBtn').click() }"></textarea>
        <span class="form-group-btn pull-right">
				<button class="btn btn-default" type="button" id="commentInsertBtn">등록</button>
			</span>
    </div>

<br>
<div class="container" th:if="${#lists.size(commentList) > 0 }">
    <div class="panel-body container-fluid">
        <ul class="list-group">
            <li class="list-group-item" th:each="comment : ${commentList}">
                <div class="row">
                    <div class="col-xs-2 col-md-1">
                        <img src="/images/default_user.jpg" class="img-circle img-responsive" alt=""/></div>
                    <div class="col-xs-10 col-md-11">
                        <!-- 댓글 버튼 부분 -->
                        <div class="action pull-right">
                            <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button id="comment_delete" type="button" class="btn btn-danger btn-xs"
                                    th:onclick="|javascript:commentDelete('${comment.idx}')|" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                        <!-- 댓글 정보 부분 -->
                        <div>
                            <div class="mic-info">
                                <span class="text-primary" th:text=${comment.user?.nickName}></span>
                                <span class="small" th:text="${#temporals.format(comment.date,'yyyy년 MM월 dd일 hh시 mm분')}"
                                      style="margin-left:10px;"></span>
                            </div>
                        </div>

                        <!-- 댓글 content부분  -->
                        <div class="comment-text" th:text="${comment.comment}" style="margin-top: 0.5em;">

                        </div>

                    </div>
                </div>
            </li>
        </ul>
        <!-- <a href="#" class="btn btn-primary btn-sm btn-block" role="button">
        <span class="glyphicon glyphicon-refresh"></span> More</a> -->
    </div>
</div>
</div>

<!-- <div class="container">
    <div class="commentList" th:each="comment : ${commentList}">
        <div>
            <span class="h4">유저이름</span> <span th:text="${comment?.date}"></span>
            <button id="commentDeleteBtn" class="pull-right btn btn-danger btn-xs">삭제</button>
            <button id="commentUpdateBtn" class="pull-right btn btn-primary btn-xs">수정 </button>
            <p th:text="${comment?.comment}"></p>
        </div>

    </div>
</div>
</div>-->
</body>

<script src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    // 댓글 등록
    $('#commentInsertBtn').click(function () {
        if ($('#commentTextBox').val() == "") {
            alert("댓글을 입력해주세요");
            return;
        }
        var jsonData = JSON.stringify({
            comment: $('#commentTextBox').val()
        });
        $.ajax({
            url: "/board/comment/insert/" + $('#board_idx').val(),
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                alert("댓글 등록");
                location.reload(true);
            },
            error: function (request, status, error) {
                alert("댓글 등록 실패");
                console.log("code:" + request.status + "\n"
                    + "message:" + request.responseText + "\n"
                    + "error:" + error);
            }
        });
    });
    // 댓글 업데이트

    // 댓글 삭제
    function commentDelete(idx) {
        alert(idx);
        $.ajax({
            url: "/board/comment/delete/" + idx,
            success: function () {
                alert("댓글 삭제 성공");
            },
            error: function (request, status, error) {
                alert("댓글 삭제 실패");
                console.log("code:" + request.status + "\n"
                    + "message:" + request.responseText + "\n"
                    + "error:" + error);
            }

        });
    }

    // 게시글 저장
    $("#insert").click(
        function () {
            var jsonData = JSON.stringify({
                title: $('#board_title').val(),
                content: $('#board_content').val()
            });
            $.ajax({
                url: "/board/insert/" + $('#user_idx').val(),
                type: "POST",
                data: jsonData,
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    alert("저장 성공!");
                    location.href = "/";
                },
                error: function (request, status, error) {
                    alert("제목을 작성했는지 확인해주세요.");
                    console.log("code:" + request.status + "\n"
                        + "message:" + request.responseText + "\n"
                        + "error:" + error);
                }

            });
        });

    //게시글 없데이트
    $('#update').click(function () {
        var jsonData = JSON.stringify({
            title: $('#board_title').val(),
            content: $('#board_content').val()
        });
        $.ajax({
            url: "/board/update/" + $('#board_idx').val(),
            type: "PUT",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                alert("수정 성공");
                location.href = "/";
            },
            error: function () {
                alert("수정 실패");
            }
        });
    });

    // 게시글 삭제
    $('#delete').click(function () {
        $.ajax({
            url: "/board/delete/" + $('#board_idx').val(),
            type: "DELETE",
            success: function (data) {
                alert("삭제 성공");
                location.href = "/";
            },
            error: function () {
                alert("삭제 실패");
            }
        });
    });
</script>
</html>