<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<title>Login</title>
</head>
<body>
<h2 class="text-center">로그인</h2>
<div class="col-md-12">
	<!--로그인 기능 영역 -->
	<div style="margin-top: 1.5em;">
		<a href="/oauth2/authorization/github"><img class="w-25 p-3 center-block" src="/images/button/naver_button.png"></a>
		<a href="/oauth2/authorization/google"><img class="w-25 p-3 center-block" src="/images/button/google_button.png"></a>
	</div>
</div>

</body>
</html>